body,h2{
  font-family: 'Tahoma',cursive;
}

.img-contain{
  object-fit: contain;
}
.img-cover{
  object-fit: cover;
}
.bg-blue-500{
  background-color: rgb(59 130 246);
}
.align-middle{
  vertical-align: middle;
  text-align: center;
}
.bg-blue-700:hover{
  background-color: rgb(29 78 216);
}
.bg-orange-400{
  background-color: rgb(251 146 60);
}
.bg-orange-400:hover{
  background-color: rgb(234 88 12);
}
.wawel {
  background-image: url("images/wawel.jpg"); /* Replace with your image path */
  background-repeat: no-repeat; /* Optional: controls how the image repeats */
  background-position: center; /* Optional: controls the position of the image */
  background-size: cover; /* Optional: controls how the image fills the element */
  min-height: 800px;
}
.sample-form{
  background-color: white;
  height: 100px;
}
.mr-10{
  margin-right: 10px;
}
.w-1\/6{
  width: 16.6667%;
}
.bg-lime-500{
  background-color: rgb(132 204 22);
}
.bg-lime-700:hover{
  background-color: rgb(77 124 15);
}
.relative {
  position: relative;
}
.place-content-center {
  place-content: center;
}
.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.image1{
  background-color: rgb(65, 113, 196);
  margin-right: 20px;
}
.image1:hover{
  background-color: rgb(60, 97, 160) ;
}
.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.mt-30{
  margin-top: 30px;
}
.red_dark:hover{
  background-color: rgb(169, 7, 7);
}
.text-red-600{
  color: rgb(239 68 68);
}
.border-black{
  border-color: rgb(0 0 0);
  border-width: 2px;
}
.border-bred{
  border-bottom: 2px solid;
  border-color:  rgb(239 68 68);

}