{% extends 'core/base.html' %}
{% load static %}
{% block title %}Terms of Use{% endblock %}
{% block content %}
<h5>Images utilisées</h5>
<a href="#">Logo</a>
<a href="https://www.freepik.com/author/frdmn-project">Icône de frdmn</a> 
<a href="https://www.pologne.travel/fr-be/villes/poznan-capitale-de-la-grande-pologne">Poznan : Boris Stroujko - Fotolia </a>
<a href="https://templiers.org/malbork.html">Malbrok Castle</a>
<a href="https://www.pologne.travel/fr/quoi-visiter/nature/parcs-nationaux/parc-national-de-wolin">Wolin</a>
<a href="https://fr.wikipedia.org/wiki/For%C3%AAt_de_Bia%C5%82owie%C5%BCa">Bialowieza :  CC BY-SA 3.0 pl WildberryPassion </a>
{% endblock %}