{% extends 'core/base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block content %}
<div class="px-6 py-6 min-h-screen flex flex-col items-center ">
    <div class="border-amber-300 border-2 rounded-xl  p-6  bg-gray-100 rounded-xl mt-10 ml-10 ">
        <form action="{% url 'translation:translate'%}" method="post" class="  border-amber-300 border-2 rounded-xl  p-6 mu-6 mx-auto bg-gray-100 rounded-xl ml-10 p-10  items-center">
            <div class=" rounded-xl flex">
                <div class="w-1/2 ml-6">Tekst:</div>
                <div class="w-1/2 ml-6">Tłumaczenie:</div>
            </div>
            <div class="flex mt-2">
                {% csrf_token %}
                <div class="space-y-4 w-1/2 ">
                    {{ form.text }}
                </div>
                {% if form.errors or form.non_field_errors %}
                    <div class="mb-3 p-6 bg-amber-100 rounded-xl">
                        {%for field in form %}
                            {{ field.errors}}
                        {% endfor %}
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                <div class="w-1/2 ml-6  h-full">
                    {% csrf_token %}
                    <div class="space-y-4  " readonly>
                        {{ form.translation }}
                    </div>
                </div>
            </div>
        <div class="flex">
            <div class="w-1/2 flex justify-end ">
                <input name="translate" type="submit" class=" mt-6 py-4 px-8 text-lg bg-lime-500 bg-lime-700 rounded-xl text-white mr-10" value="Składać"> 
            </div>
            {% if feedback %}
            <div class="w-1/2 flex justify-end ">
                <p class="flex justify-center items-center mr-10"> Zadowolona ? </p>
                <input name="feedback" type="submit" class=" mt-6 py-2 px-2  bg-blue-500 bg-blue-700 rounded-xl text-white mr-10" value="Pozytywny" > 
                <input name="feedback" type="submit" class=" mt-6 py-2 px-2 bg-orange-400 bg-blue-700 rounded-xl text-white mr-10" value="Negatywny" > 
            </div>
            {% elif thanks %}
            <div class="w-1/2 flex justify-center ">
                <p class="flex justify-center items-center mr-10 font-semibold "> Dziękuję za udzielenie porady! &#128522;</p>
            </div>
            {% endif %}
        </form>
        </div>
    </div>
</div>
<script>
    document.getElementById("translateField").readOnly = true ;
</script>
{% endblock %}